.view-festivales
  .view-content
    .views-row
      align-items: flex-start
      display: flex
      flex-direction: row
      flex-wrap: nowrap

      .views-field-field-logo
        width: 50%

      .views-field-body
        height: 400px
        overflow: hidden
        text-overflow: ellipsis
        width: 50%

      &::after
        bottom: 3px
        content: '...'
        display: block
        height: 20px
        position: absolute
        right: 0
        width: 20px
